<!-- Seção "Shop by Collection" -->
<section class="shop-by-collection">
  <div class="container">
    <h2>{{ section.settings.title }}</h2>
    <div class="collection-slider">
      <div class="collection-items">
        <button class="nav-button prev">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>

        {% for block in section.blocks %}
          <div class="collection-item" style="background-image: url('{{ block.settings.image | image_url }}');">
            <a href="{{ block.settings.link }}">
              <div class="collection-item-text">
                <h3>{{ block.settings.text }}</h3>
              </div>
            </a>
          </div>
        {% endfor %}

        <button class="nav-button next">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Shop by Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Shop by Collection"
      }
    ],
    "blocks": [
      {
        "type": "collection_item",
        "name": "Collection Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Coleção"
          }, {
            "type": "text",
            "id": "alt_text",
            "label": "Alt Text",
            "default": "Imagem da Coleção"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop by Collection",
        "category": "Custom Sections"
      }
    ]
  }
{% endschema %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const collectionSlider = document.querySelector('.collection-items');
    const prevButton = document.querySelector('.nav-button.prev');
    const nextButton = document.querySelector('.nav-button.next');
  
    // Função para rolar para a esquerda
    prevButton.addEventListener('click', function() {
      collectionSlider.scrollBy({
        left: -300, 
        behavior: 'smooth'
      });
    });
  
    // Função para rolar para a direita
    nextButton.addEventListener('click', function() {
      collectionSlider.scrollBy({
        left: 300,
        behavior: 'smooth'
      });
    });
  });
</script>