/* Top bar styles */
.header-top-bar {
    background-color: #17171A;
    color: #fff;
    text-align: center;
    height: 50px;

    display: flex;
    align-items: center;
}

.header-top-bar-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
    width: 100%;
}

.contact-link {
    color: #fff;
    text-decoration: none;
}

/* Main header styles */
.main-header {
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 98px;
}

.main-header .logo-img {
    width: 140px;
    height: 42px;
}

.search-bar {
    flex-grow: 2;
    padding: 0 20px;
    max-width: 600px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input-container {
    width: 100%;
    display: flex;
    position: relative;
}

.search-input-container input {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #252525;
    height: 38px;
    text-indent: 10px;
}

.search-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    border: 1px solid #252525;
    border-radius: 25px;
    position: absolute;
    height: 100%;
    right: 0;
    width: 120px;
    font-size: 1.2rem;
}

.search-button i {
    font-size: 15px;
}

/* Cart styles */
.cart {
    display: flex;
    flex-direction: column;
}

.cart-link {
    color: #000;
    text-decoration: none;
    position: relative;
}

.cart-icon {
    font-size: 25px;
}

.cart-count {
    background-color: #00C371;
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    position: absolute;
    top: -7px;
    right: -2px;
    font-size: 1.1rem;
}

.cart span {
    font-size: .9rem;
}


/* Navigation menu styles */
.navigation-menu {
    background-color: #f8f8f8;
    height: 46px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 53px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-weight: bolder;
    font-size: .9rem;
}

/* Mobile styles */
.mobile-style {
    display: none;
    height: 98px;
    padding: 20px 14px;
}

.mobile-style .container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-style .container-top .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-style .container-top .menu i {
    font-size: 25px;
}

.mobile-style .container-top .menu,
.cart {
    width: 42px;
    height: 36px;
}

.mobile-style .search-bar {
    margin: 30px auto;
}

.mobile-style .search-bar .search-input-container input {
    width: 728px;
}

.mobile-style .logo-img {
    width: 120px;
    height: 36px;
}

/* Media query para tablets */
@media (max-width: 900px) {
    .main-header {
        display: none;
    }

    .mobile-style {
        display: block;
    }

    .navigation-menu {
        display: none;
    }

    .header-top-bar {
        height: 35px;
    }

    .header-top-bar-content {
        padding: 0 20px;
    }

    .header-top-bar-content #email-adress,
    #phone {
        display: none;
    }
}



/* Media query para tablets */
@media (max-width: 500px) {
    .mobile-style .search-bar .search-input-container input {
        height: 29px !important;
    }

    .mobile-style .search-bar .search-input-container button {
        width: 94px;
        font-size: 1rem;
    }

    .mobile-style .logo-img {
        width: 89px;
        height: 27px;
    }
}

