/* Seção Principal */
.favorites-section {
    text-align: center;
    padding: 152px 258px;
    background-color: #111;
    color: #fff;
    height: 666px;
}

/* Título e Subtítulo */
.favorites-section h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

/* Botão "View More" */
.favorites-section button {
    padding: 20px 36px;
    background-color: #00AC4F;
    border: none;
    border-radius: 109px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-top: 40px;
    transition: background-color 0.3s ease;
}

.favorites-section button:hover {
    background-color: #007a39;
}

/* Área de Avaliações */
.reviews {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
    /* Permite que o conteúdo seja responsivo */
}

/* Cada Avaliação */
.review-item {
    width: 315px;
    max-width: 350px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.review-item:hover {
    transform: translateY(-10px);
}

/* Imagem de Perfil do Avaliador */
.container-persona img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Nome do Avaliador */
.container-persona h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Avaliação com Estrelas */
i.fa-solid {
    font-size: 13px;
    color: #FFB800;
}

.container-persona {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    height: 65px;
}

.container-persona > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
}

/* Comentário */
p.comment {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;

    width: 315px;
}

@media (max-width: 768px) {
    .reviews {
        flex-direction: column;
        align-items: center;
    }

    .review-item {
        margin-bottom: 30px;
    }
}